USE [master]
GO
/****** Object:  Database [Comercio]    Script Date: 03/07/2026 14:54:10 ******/
CREATE DATABASE [Comercio]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Comercio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Comercio]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[DNI] [int] NOT NULL,
	[Email] [varchar](200) NULL,
	[Telefono] [varchar](50) NULL,
	[Direccion] [varchar](200) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompras]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[IdMarca] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[PrecioCosto] [decimal](18, 2) NOT NULL,
	[PorcentajeGanancia] [decimal](10, 2) NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[ImagenUrl] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Email] [varchar](200) NULL,
	[Telefono] [varchar](50) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Rol] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[NumeroFactura] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre], [Activo]) VALUES (1, N'Vinos', 1)
INSERT [dbo].[Categorias] ([Id], [Nombre], [Activo]) VALUES (2, N'Cervezas', 1)
INSERT [dbo].[Categorias] ([Id], [Nombre], [Activo]) VALUES (3, N'Destilados', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [DNI], [Email], [Telefono], [Direccion], [Activo]) VALUES (1, N'Facundo', N'Alvarez', 11111111, N'facundoalvarez@utn.com.ar', N'1135234212', N'', 1)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [DNI], [Email], [Telefono], [Direccion], [Activo]) VALUES (2, N'Juan Carlos', N'Pérez', 35123456, N'juan.perez@email.com', N'1154321098', N'Av. Rivadavia 1540, CABA', 1)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [DNI], [Email], [Telefono], [Direccion], [Activo]) VALUES (3, N'María Laura', N'Gómez', 38456789, N'marialaura.gomez@email.com', N'03414556677', N'Calle Belgrano 432, Rosario', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([Id], [IdProveedor], [FechaCompra], [Total]) VALUES (1, 2, CAST(N'2026-06-29T13:40:07.740' AS DateTime), CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[Compras] ([Id], [IdProveedor], [FechaCompra], [Total]) VALUES (2, 4, CAST(N'2026-07-01T21:30:33.550' AS DateTime), CAST(6000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompras] ON 

INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 1, 50, CAST(500.00 AS Decimal(18, 2)), CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (2, 2, 10, 2, CAST(500.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (3, 2, 10, 2, CAST(2500.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DetalleCompras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVentas] ON 

INSERT [dbo].[DetalleVentas] ([Id], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 2, 3, CAST(200.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVentas] ([Id], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (2, 1, 1, 2, CAST(500.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVentas] ([Id], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (3, 2, 3, 8, CAST(1111.00 AS Decimal(18, 2)), CAST(8888.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVentas] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([Id], [Nombre], [Activo]) VALUES (1, N'Catena', 1)
INSERT [dbo].[Marcas] ([Id], [Nombre], [Activo]) VALUES (2, N'Rutini', 1)
INSERT [dbo].[Marcas] ([Id], [Nombre], [Activo]) VALUES (3, N'Corona', 1)
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [NombreProducto], [Descripcion], [IdMarca], [IdCategoria], [PrecioCosto], [PorcentajeGanancia], [PrecioVenta], [StockActual], [StockMinimo], [Activo], [ImagenUrl]) VALUES (1, N'Cervecita Quilmes', N'el sabor del encuentro en lata ', 4, 2, CAST(500.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(510.00 AS Decimal(18, 2)), 59, 10, 1, N'https://www.quilmes.com.ar/sites/g/files/wnfebl11841/files/CARROUSEL%20LATAS%20217X594_1-CLASICA%20217X594_0.png')
INSERT [dbo].[Productos] ([Id], [NombreProducto], [Descripcion], [IdMarca], [IdCategoria], [PrecioCosto], [PorcentajeGanancia], [PrecioVenta], [StockActual], [StockMinimo], [Activo], [ImagenUrl]) VALUES (2, N'Vinito', N'Es un vinito', 2, 1, CAST(200.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(210.00 AS Decimal(18, 2)), 311, 50, 1, N'https://statics.dinoonline.com.ar/imagenes/full_600x600_ma/3060113_f.jpg')
INSERT [dbo].[Productos] ([Id], [NombreProducto], [Descripcion], [IdMarca], [IdCategoria], [PrecioCosto], [PorcentajeGanancia], [PrecioVenta], [StockActual], [StockMinimo], [Activo], [ImagenUrl]) VALUES (3, N'Algo', N'Alguito', 1, 1, CAST(1111.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(1166.55 AS Decimal(18, 2)), 2, 10, 1, N'')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([Id], [Nombre], [Email], [Telefono], [Activo]) VALUES (1, N'Distribuidora Central S.A.', N'ventas@distribuidoracentral.com', N'1145678901', 0)
INSERT [dbo].[Proveedores] ([Id], [Nombre], [Email], [Telefono], [Activo]) VALUES (2, N'Logística y Abasto Norte', N'contacto@abastonorte.com.ar', N'03414890233', 1)
INSERT [dbo].[Proveedores] ([Id], [Nombre], [Email], [Telefono], [Activo]) VALUES (3, N'TecnoMayorista SRL', N'info@tecnomayoristasrl.com', N'2614234556', 1)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Password], [Rol], [Activo]) VALUES (1, N'admin', N'1234', 1, 1)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Password], [Rol], [Activo]) VALUES (2, N'pepito', N'pepito123', 0, 1)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Password], [Rol], [Activo]) VALUES (3, N'prueba', N'prueba', 0, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [IdCliente], [IdUsuario], [FechaVenta], [Total], [NumeroFactura]) VALUES (1, 3, 1, CAST(N'2026-06-27T16:11:38.903' AS DateTime), CAST(1600.00 AS Decimal(18, 2)), N'FAC-2026-000001')
INSERT [dbo].[Ventas] ([Id], [IdCliente], [IdUsuario], [FechaVenta], [Total], [NumeroFactura]) VALUES (2, 1, 1, CAST(N'2026-06-28T12:20:03.373' AS DateTime), CAST(9688.00 AS Decimal(18, 2)), N'FAC-2026-000002')
INSERT [dbo].[Ventas] ([Id], [IdCliente], [IdUsuario], [FechaVenta], [Total], [NumeroFactura]) VALUES (3, 7, 1, CAST(N'2026-06-28T17:15:34.677' AS DateTime), CAST(1000.00 AS Decimal(18, 2)), N'FAC-2026-000003')
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
/****** Object:  Index [UQ__Clientes__C035B8DD2291D406]    Script Date: 03/07/2026 14:54:10 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__75E3EFCF024D2599]    Script Date: 03/07/2026 14:54:10 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ventas__CF12F9A6EB436588]    Script Date: 03/07/2026 14:54:10 ******/
ALTER TABLE [dbo].[Ventas] ADD UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[Marcas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedores] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedores]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Compras] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compras] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Compras]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Productos]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marcas] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marcas]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarStockCompra]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ActualizarStockCompra]
(
    @IdProducto INT,
    @Cantidad INT,
    @PrecioCosto DECIMAL(18,2)
)
AS
BEGIN

    UPDATE Productos
    SET
        StockActual = StockActual + @Cantidad,
        PrecioCosto = @PrecioCosto,
        PrecioVenta = @PrecioCosto + (@PrecioCosto * PorcentajeGanancia / 100)
    WHERE Id = @IdProducto;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaCategoria]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaCategoria]
    @Nombre VARCHAR(100)
AS
BEGIN
    INSERT INTO Categorias (Nombre, Activo)
    VALUES (@Nombre, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaCliente]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaCliente]
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Dni INT,
    @Email VARCHAR(200) = NULL,
    @Telefono VARCHAR(50) = NULL,
    @Direccion VARCHAR(200) = NULL
AS
BEGIN
    INSERT INTO Clientes (Nombre, Apellido, Dni, Email, Telefono, Direccion, Activo)
    VALUES (@Nombre, @Apellido, @Dni, @Email, @Telefono, @Direccion, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaCompra]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaCompra]
(
    @IdProveedor INT,
    @Total DECIMAL(18,2)
)
AS
BEGIN

    INSERT INTO Compras
    (
        IdProveedor,
        FechaCompra,
        Total
    )
    VALUES
    (
        @IdProveedor,
        GETDATE(),
        @Total
    );

    SELECT SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaDetalleCompra]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaDetalleCompra]
(
    @IdCompra INT,
    @IdProducto INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18,2),
    @Subtotal DECIMAL(18,2)
)
AS
BEGIN

    INSERT INTO DetalleCompras
    (
        IdCompra,
        IdProducto,
        Cantidad,
        PrecioUnitario,
        Subtotal
    )
    VALUES
    (
        @IdCompra,
        @IdProducto,
        @Cantidad,
        @PrecioUnitario,
        @Subtotal
    );

END
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaDetalleVenta]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaDetalleVenta]
    @IdVenta INT,
    @IdProducto INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18,2),
    @Subtotal DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO DetalleVentas
    (
        IdVenta,
        IdProducto,
        Cantidad,
        PrecioUnitario,
        Subtotal
    )
    VALUES
    (
        @IdVenta,
        @IdProducto,
        @Cantidad,
        @PrecioUnitario,
        @Subtotal
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaMarca]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaMarca]
    @Nombre VARCHAR(100)
AS
BEGIN
    INSERT INTO Marcas (Nombre, Activo)
    VALUES (@Nombre, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaProducto]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaProducto]
    @Nombre VARCHAR(150),
    @Descripcion VARCHAR(500) = NULL,
    @ImagenUrl VARCHAR(500) = NULL,
    @IdMarca INT,
    @IdCategoria INT,
    @PrecioCosto DECIMAL(18,2),
    @PorcentajeGanancia DECIMAL(10,2),
    @StockActual INT,
    @StockMinimo INT
AS
BEGIN
    DECLARE @PrecioVenta DECIMAL(18,2)
    SET @PrecioVenta = @PrecioCosto * (1 + @PorcentajeGanancia / 100)

    INSERT INTO Productos (NombreProducto, Descripcion, ImagenUrl, IdMarca, IdCategoria, PrecioCosto, PorcentajeGanancia, PrecioVenta, StockActual, StockMinimo, Activo)
    VALUES (@Nombre, @Descripcion, @ImagenUrl, @IdMarca, @IdCategoria, @PrecioCosto, @PorcentajeGanancia, @PrecioVenta, @StockActual, @StockMinimo, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaProveedor]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaProveedor]
    @Nombre VARCHAR(150),
    @Email VARCHAR(200) = NULL,
    @Telefono VARCHAR(50) = NULL
AS
BEGIN
    INSERT INTO Proveedores (Nombre, Email, Telefono, Activo)
    VALUES (@Nombre, @Email, @Telefono, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaUsuario]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaUsuario]
    @Nombre VARCHAR(100),
    @Password VARCHAR(255),
    @Rol INT
AS
BEGIN
    INSERT INTO Usuarios (Nombre, Password, Rol, Activo)
    VALUES (@Nombre, @Password, @Rol, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaVenta]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaVenta]
    @IdCliente INT,
    @IdUsuario INT,
    @Total DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Ventas (IdCliente, IdUsuario, FechaVenta, Total)
    VALUES (@IdCliente, @IdUsuario, GETDATE(), @Total);

    DECLARE @IdVenta INT = SCOPE_IDENTITY();
    DECLARE @NumeroFactura VARCHAR(20) = 'FAC-' + CAST(YEAR(GETDATE()) AS VARCHAR(4)) + '-' + RIGHT('000000' + CAST(@IdVenta AS VARCHAR(6)), 6);

    UPDATE Ventas
    SET NumeroFactura = @NumeroFactura
    WHERE Id = @IdVenta;

    -- Devolvemos Id y NumeroFactura juntos
    SELECT @IdVenta AS Id, @NumeroFactura AS NumeroFactura;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BajaCategoria]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaCategoria]
    @Id INT
AS
BEGIN
    UPDATE Categorias
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BajaCliente]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaCliente]
    @Id INT
AS
BEGIN
    UPDATE Clientes
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BajaMarca]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaMarca]
    @Id INT
AS
BEGIN
    UPDATE Marcas
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BajaProducto]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaProducto]
    @Id INT
AS
BEGIN
    UPDATE Productos
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BajaProveedor]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaProveedor]
    @Id INT
AS
BEGIN
    UPDATE Proveedores
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BajaUsuario]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaUsuario]
    @Id INT
AS
BEGIN
    UPDATE Usuarios
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCategorias]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarCategorias]
AS
BEGIN
    SELECT Id, Nombre, Activo
    FROM Categorias
    WHERE Activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarClientes]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Clientes:

CREATE PROCEDURE [dbo].[sp_ListarClientes]
AS
BEGIN
    SELECT Id, Nombre, Apellido, Dni, Email, Telefono, Direccion, Activo
    FROM Clientes
    WHERE Activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCompras]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarCompras]
AS
BEGIN
    SELECT
        c.Id,
        c.FechaCompra,
        c.Total,
        p.Id AS IdProveedor,
        p.Nombre AS Proveedor
    FROM Compras c
    INNER JOIN Proveedores p
        ON c.IdProveedor = p.Id
    ORDER BY c.FechaCompra DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarDetalleCompras]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    CREATE PROCEDURE [dbo].[sp_ListarDetalleCompras]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        dc.Id,
        dc.IdCompra,
        dc.IdProducto,
        p.NombreProducto,
        dc.Cantidad,
        dc.PrecioUnitario,
        dc.Subtotal
    FROM DetalleCompras dc
    INNER JOIN Productos p
        ON dc.IdProducto = p.Id
    ORDER BY dc.Id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMarcas]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarMarcas]
AS
BEGIN
    SELECT Id, Nombre, Activo
    FROM Marcas
    WHERE Activo = 1
END


GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductos]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarProductos]
AS
BEGIN
    SELECT p.Id, p.NombreProducto, p.Descripcion, p.ImagenUrl,
           p.PrecioCosto, p.PorcentajeGanancia, p.PrecioVenta,
           p.StockActual, p.StockMinimo, p.Activo,
           m.Id AS IdMarca, m.Nombre AS NombreMarca,
           c.Id AS IdCategoria, c.Nombre AS NombreCategoria
    FROM Productos p
    INNER JOIN Marcas m ON p.IdMarca = m.Id
    INNER JOIN Categorias c ON p.IdCategoria = c.Id
    WHERE p.Activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProveedores]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Proveedores: 

CREATE PROCEDURE [dbo].[sp_ListarProveedores]
AS
BEGIN
    SELECT Id, Nombre, Email, Telefono, Activo
    FROM Proveedores
    WHERE Activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarUsuarios]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarUsuarios]
AS
BEGIN
    SELECT Id, Nombre, Password, Rol, Activo
    FROM Usuarios
    WHERE Activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarVentas]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarVentas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        v.Id,
        v.NumeroFactura,
        v.FechaVenta,
        v.Total,
        c.Nombre + ' ' + c.Apellido AS NombreCliente,
        u.Nombre AS NombreVendedor
    FROM Ventas v
    INNER JOIN Clientes c ON v.IdCliente = c.Id
    INNER JOIN Usuarios u ON v.IdUsuario = u.Id
    ORDER BY v.FechaVenta DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarCategoria]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarCategoria]
    @Id INT,
    @Nombre VARCHAR(100)
AS
BEGIN
    UPDATE Categorias
    SET Nombre = @Nombre
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarCliente]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarCliente]
    @Id INT,
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Dni INT,
    @Email VARCHAR(200) = NULL,
    @Telefono VARCHAR(50) = NULL,
    @Direccion VARCHAR(200) = NULL
AS
BEGIN
    UPDATE Clientes
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        Dni = @Dni,
        Email = @Email,
        Telefono = @Telefono,
        Direccion = @Direccion
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarMarca]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarMarca]
    @Id INT,
    @Nombre VARCHAR(100)
AS
BEGIN
    UPDATE Marcas
    SET Nombre = @Nombre
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarProducto]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarProducto]
    @Id INT,
    @Nombre VARCHAR(150),
    @Descripcion VARCHAR(500) = NULL,
    @ImagenUrl VARCHAR(500) = NULL,
    @IdMarca INT,
    @IdCategoria INT,
    @PrecioCosto DECIMAL(18,2),
    @PorcentajeGanancia DECIMAL(10,2),
    @StockActual INT,
    @StockMinimo INT
AS
BEGIN
    DECLARE @PrecioVenta DECIMAL(18,2)
    SET @PrecioVenta = @PrecioCosto * (1 + @PorcentajeGanancia / 100)

    UPDATE Productos
    SET NombreProducto = @Nombre,
        Descripcion = @Descripcion,
        ImagenUrl = @ImagenUrl,
        IdMarca = @IdMarca,
        IdCategoria = @IdCategoria,
        PrecioCosto = @PrecioCosto,
        PorcentajeGanancia = @PorcentajeGanancia,
        PrecioVenta = @PrecioVenta,
        StockActual = @StockActual,
        StockMinimo = @StockMinimo
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarProveedor]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarProveedor]
    @Id INT,
    @Nombre VARCHAR(150),
    @Email VARCHAR(200) = NULL,
    @Telefono VARCHAR(50) = NULL
AS
BEGIN
    UPDATE Proveedores
    SET Nombre = @Nombre,
        Email = @Email,
        Telefono = @Telefono
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarUsuario]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarUsuario]
    @Id INT,
    @Nombre VARCHAR(100),
    @Password VARCHAR(255),
    @Rol INT
AS
BEGIN
    UPDATE Usuarios
    SET Nombre = @Nombre,
        Password = @Password,
        Rol = @Rol
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerVentaPorId]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerVentaPorId]
    @IdVenta INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        v.Id,
        v.NumeroFactura,
        v.FechaVenta,
        v.Total,
        c.Id AS IdCliente,
        c.Nombre AS NombreCliente,
        c.Apellido AS ApellidoCliente,
        c.Email AS EmailCliente,        -- 👈 agregado
        u.Id AS IdUsuario,
        u.Nombre AS NombreUsuario
    FROM Ventas v
    INNER JOIN Clientes c ON v.IdCliente = c.Id
    INNER JOIN Usuarios u ON v.IdUsuario = u.Id
    WHERE v.Id = @IdVenta;

    SELECT
        dv.Id,
        dv.IdProducto,
        p.NombreProducto,
        dv.Cantidad,
        dv.PrecioUnitario,
        dv.Subtotal
    FROM DetalleVentas dv
    INNER JOIN Productos p ON dv.IdProducto = p.Id
    WHERE dv.IdVenta = @IdVenta;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteClientes]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteClientes]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        c.Id,
        c.Nombre + ' ' + c.Apellido AS NombreCliente,
        COUNT(v.Id)   AS CantidadCompras,
        SUM(v.Total)  AS MontoTotal
    FROM Ventas v
    INNER JOIN Clientes c ON v.IdCliente = c.Id
    GROUP BY c.Id, c.Nombre, c.Apellido
    ORDER BY MontoTotal DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteProductosMasVendidos]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteProductosMasVendidos]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.Id,
        p.NombreProducto,
        SUM(dv.Cantidad)  AS CantidadVendida,
        SUM(dv.Subtotal)  AS MontoTotal
    FROM DetalleVentas dv
    INNER JOIN Productos p ON dv.IdProducto = p.Id
    GROUP BY p.Id, p.NombreProducto
    ORDER BY CantidadVendida DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteStockBajo]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ReporteStockBajo]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.Id,
        p.NombreProducto,
        p.StockActual,
        p.StockMinimo,
        m.Nombre AS NombreMarca
    FROM Productos p
    INNER JOIN Marcas m ON p.IdMarca = m.Id
    WHERE p.Activo = 1 AND p.StockActual <= p.StockMinimo
    ORDER BY p.StockActual ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteVendedores]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteVendedores]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        u.Id,
        u.Nombre AS NombreVendedor,
        COUNT(v.Id)      AS CantidadVentas,
        SUM(v.Total)     AS MontoTotal
    FROM Ventas v
    INNER JOIN Usuarios u ON v.IdUsuario = u.Id
    GROUP BY u.Id, u.Nombre
    ORDER BY MontoTotal DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarLogin]    Script Date: 03/07/2026 14:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ValidarLogin]
    @Nombre VARCHAR(100),
    @Password VARCHAR(255)
AS
BEGIN
    SELECT Id, Nombre, Rol
    FROM Usuarios
    WHERE Nombre = @Nombre AND Password = @Password AND Activo = 1
END
GO
USE [master]
GO
