USE [Comercio]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 17/7/2026 20:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 17/7/2026 20:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[DNI] [int] NOT NULL,
	[Email] [varchar](200) NULL,
	[Telefono] [varchar](50) NULL,
	[Direccion] [varchar](200) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Compras] Fecha de script: 17/7/2026 20:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleCompras] Fecha de script: 17/7/2026 20:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleVentas] Fecha de script: 17/7/2026 20:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Marcas] Fecha de script: 17/7/2026 20:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 17/7/2026 20:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[IdMarca] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[PrecioCosto] [decimal](18, 2) NOT NULL,
	[PorcentajeGanancia] [decimal](10, 2) NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[ImagenUrl] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedores] Fecha de script: 17/7/2026 20:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Email] [varchar](200) NULL,
	[Telefono] [varchar](50) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 17/7/2026 20:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Rol] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Email] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ventas] Fecha de script: 17/7/2026 20:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[NumeroFactura] [varchar](20) NULL,
	[MedioPago] [varchar](20) NOT NULL,
	[Cuotas] [int] NOT NULL,
	[Interes] [decimal](5, 2) NOT NULL,
	[TotalConInteres] [decimal](18, 2) NOT NULL,
	[Banco] [varchar](100) NULL,
	[UltimosDigitos] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre], [Activo]) VALUES (1, N'Vinos', 1)
INSERT [dbo].[Categorias] ([Id], [Nombre], [Activo]) VALUES (2, N'Cervezas', 1)
INSERT [dbo].[Categorias] ([Id], [Nombre], [Activo]) VALUES (3, N'Destilados', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [DNI], [Email], [Telefono], [Direccion], [Activo]) VALUES (1, N'Facundo', N'Alvarez', 11111111, N'facundoalvarez@utn.com.ar', N'1135234212', N'', 1)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [DNI], [Email], [Telefono], [Direccion], [Activo]) VALUES (2, N'Juan Carlos', N'Pérez', 35123456, N'juan.perez@email.com', N'1154321098', N'Av. Rivadavia 1540, CABA', 1)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [DNI], [Email], [Telefono], [Direccion], [Activo]) VALUES (3, N'María Laura', N'Gómez', 38456789, N'marialaura.gomez@email.com', N'03414556677', N'Calle Belgrano 432, Rosario', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([Id], [IdProveedor], [FechaCompra], [Total]) VALUES (1, 2, CAST(N'2026-06-29T13:40:07.740' AS DateTime), CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[Compras] ([Id], [IdProveedor], [FechaCompra], [Total]) VALUES (2, 4, CAST(N'2026-07-01T21:30:33.550' AS DateTime), CAST(6000.00 AS Decimal(18, 2)))
INSERT [dbo].[Compras] ([Id], [IdProveedor], [FechaCompra], [Total]) VALUES (3, 2, CAST(N'2026-07-04T22:56:08.480' AS DateTime), CAST(500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompras] ON 

INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 1, 50, CAST(500.00 AS Decimal(18, 2)), CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (2, 2, 10, 2, CAST(500.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleCompras] ([Id], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (3, 2, 10, 2, CAST(2500.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DetalleCompras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVentas] ON 

INSERT [dbo].[DetalleVentas] ([Id], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 2, 3, CAST(200.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVentas] ([Id], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (2, 1, 1, 2, CAST(500.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVentas] ([Id], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (3, 2, 3, 8, CAST(1111.00 AS Decimal(18, 2)), CAST(8888.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVentas] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([Id], [Nombre], [Activo]) VALUES (1, N'Catena', 1)
INSERT [dbo].[Marcas] ([Id], [Nombre], [Activo]) VALUES (2, N'Rutini', 1)
INSERT [dbo].[Marcas] ([Id], [Nombre], [Activo]) VALUES (3, N'Corona', 1)
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [NombreProducto], [Descripcion], [IdMarca], [IdCategoria], [PrecioCosto], [PorcentajeGanancia], [PrecioVenta], [StockActual], [StockMinimo], [Activo], [ImagenUrl]) VALUES (1, N'Cervecita Quilmes', N'el sabor del encuentro en lata ', 4, 2, CAST(500.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(510.00 AS Decimal(18, 2)), 42, 10, 1, N'https://www.quilmes.com.ar/sites/g/files/wnfebl11841/files/CARROUSEL%20LATAS%20217X594_1-CLASICA%20217X594_0.png')
INSERT [dbo].[Productos] ([Id], [NombreProducto], [Descripcion], [IdMarca], [IdCategoria], [PrecioCosto], [PorcentajeGanancia], [PrecioVenta], [StockActual], [StockMinimo], [Activo], [ImagenUrl]) VALUES (2, N'Vinito', N'Es un vinito', 2, 1, CAST(200.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(210.00 AS Decimal(18, 2)), 311, 50, 1, N'https://statics.dinoonline.com.ar/imagenes/full_600x600_ma/3060113_f.jpg')
INSERT [dbo].[Productos] ([Id], [NombreProducto], [Descripcion], [IdMarca], [IdCategoria], [PrecioCosto], [PorcentajeGanancia], [PrecioVenta], [StockActual], [StockMinimo], [Activo], [ImagenUrl]) VALUES (3, N'Algo', N'Alguito', 1, 1, CAST(1111.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(1166.55 AS Decimal(18, 2)), 2, 10, 1, N'')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([Id], [Nombre], [Email], [Telefono], [Activo]) VALUES (1, N'Distribuidora Central S.A.', N'ventas@distribuidoracentral.com', N'1145678901', 0)
INSERT [dbo].[Proveedores] ([Id], [Nombre], [Email], [Telefono], [Activo]) VALUES (2, N'Logística y Abasto Norte', N'contacto@abastonorte.com.ar', N'03414890233', 1)
INSERT [dbo].[Proveedores] ([Id], [Nombre], [Email], [Telefono], [Activo]) VALUES (3, N'TecnoMayorista SRL', N'info@tecnomayoristasrl.com', N'2614234556', 1)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Password], [Rol], [Activo], [Email]) VALUES (1, N'admin', N'1234', 1, 1, N'admin@vinoteca.com')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Password], [Rol], [Activo], [Email]) VALUES (2, N'pepito', N'pepito123', 0, 1, NULL)
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Password], [Rol], [Activo], [Email]) VALUES (3, N'prueba', N'prueba', 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [IdCliente], [IdUsuario], [FechaVenta], [Total], [NumeroFactura], [MedioPago], [Cuotas], [Interes], [TotalConInteres], [Banco], [UltimosDigitos]) VALUES (1, 3, 1, CAST(N'2026-06-27T16:11:38.903' AS DateTime), CAST(1600.00 AS Decimal(18, 2)), N'FAC-2026-000001', N'Efectivo', 1, CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[Ventas] ([Id], [IdCliente], [IdUsuario], [FechaVenta], [Total], [NumeroFactura], [MedioPago], [Cuotas], [Interes], [TotalConInteres], [Banco], [UltimosDigitos]) VALUES (2, 1, 1, CAST(N'2026-06-28T12:20:03.373' AS DateTime), CAST(9688.00 AS Decimal(18, 2)), N'FAC-2026-000002', N'Efectivo', 1, CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[Ventas] ([Id], [IdCliente], [IdUsuario], [FechaVenta], [Total], [NumeroFactura], [MedioPago], [Cuotas], [Interes], [TotalConInteres], [Banco], [UltimosDigitos]) VALUES (3, 7, 1, CAST(N'2026-06-28T17:15:34.677' AS DateTime), CAST(1000.00 AS Decimal(18, 2)), N'FAC-2026-000003', N'Efectivo', 1, CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
/****** Objeto: Index [UQ__Clientes__C035B8DD9D09C001] Fecha de script: 17/7/2026 20:16:39 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__75E3EFCF7189006E] Fecha de script: 17/7/2026 20:16:39 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Ventas__CF12F9A6D6959D7E] Fecha de script: 17/7/2026 20:16:39 ******/
ALTER TABLE [dbo].[Ventas] ADD UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[Marcas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ('Efectivo') FOR [MedioPago]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((1)) FOR [Cuotas]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [Interes]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [TotalConInteres]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedores] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedores]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Compras] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compras] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Compras]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompras_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleCompras_Productos]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marcas] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marcas]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
/****** Objeto: StoredProcedure [dbo].[sp_ActualizarStockCompra] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ActualizarStockCompra]
(
    @IdProducto INT,
    @Cantidad INT,
    @PrecioCosto DECIMAL(18,2)
)
AS
BEGIN

    UPDATE Productos
    SET
        StockActual = StockActual + @Cantidad,
        PrecioCosto = @PrecioCosto,
        PrecioVenta = @PrecioCosto + (@PrecioCosto * PorcentajeGanancia / 100)
    WHERE Id = @IdProducto;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaCategoria] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaCategoria]
    @Nombre VARCHAR(100)
AS
BEGIN
    INSERT INTO Categorias (Nombre, Activo)
    VALUES (@Nombre, 1)
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaCliente] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaCliente]
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Dni INT,
    @Email VARCHAR(200) = NULL,
    @Telefono VARCHAR(50) = NULL,
    @Direccion VARCHAR(200) = NULL
AS
BEGIN
    INSERT INTO Clientes (Nombre, Apellido, Dni, Email, Telefono, Direccion, Activo)
    VALUES (@Nombre, @Apellido, @Dni, @Email, @Telefono, @Direccion, 1)
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaCompra] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaCompra]
(
    @IdProveedor INT,
    @Total DECIMAL(18,2)
)
AS
BEGIN

    INSERT INTO Compras
    (
        IdProveedor,
        FechaCompra,
        Total
    )
    VALUES
    (
        @IdProveedor,
        GETDATE(),
        @Total
    );

    SELECT SCOPE_IDENTITY();

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaDetalleCompra] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaDetalleCompra]
(
    @IdCompra INT,
    @IdProducto INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18,2),
    @Subtotal DECIMAL(18,2)
)
AS
BEGIN

    INSERT INTO DetalleCompras
    (
        IdCompra,
        IdProducto,
        Cantidad,
        PrecioUnitario,
        Subtotal
    )
    VALUES
    (
        @IdCompra,
        @IdProducto,
        @Cantidad,
        @PrecioUnitario,
        @Subtotal
    );

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaDetalleVenta] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaDetalleVenta]
    @IdVenta INT,
    @IdProducto INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18,2),
    @Subtotal DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO DetalleVentas
    (
        IdVenta,
        IdProducto,
        Cantidad,
        PrecioUnitario,
        Subtotal
    )
    VALUES
    (
        @IdVenta,
        @IdProducto,
        @Cantidad,
        @PrecioUnitario,
        @Subtotal
    );
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaMarca] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaMarca]
    @Nombre VARCHAR(100)
AS
BEGIN
    INSERT INTO Marcas (Nombre, Activo)
    VALUES (@Nombre, 1)
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaProducto] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaProducto]
    @Nombre VARCHAR(150),
    @Descripcion VARCHAR(500) = NULL,
    @ImagenUrl VARCHAR(500) = NULL,
    @IdMarca INT,
    @IdCategoria INT,
    @PrecioCosto DECIMAL(18,2),
    @PorcentajeGanancia DECIMAL(10,2),
    @StockActual INT,
    @StockMinimo INT
AS
BEGIN
    DECLARE @PrecioVenta DECIMAL(18,2)
    SET @PrecioVenta = @PrecioCosto * (1 + @PorcentajeGanancia / 100)

    INSERT INTO Productos (NombreProducto, Descripcion, ImagenUrl, IdMarca, IdCategoria, PrecioCosto, PorcentajeGanancia, PrecioVenta, StockActual, StockMinimo, Activo)
    VALUES (@Nombre, @Descripcion, @ImagenUrl, @IdMarca, @IdCategoria, @PrecioCosto, @PorcentajeGanancia, @PrecioVenta, @StockActual, @StockMinimo, 1)
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaProveedor] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaProveedor]
    @Nombre VARCHAR(150),
    @Email VARCHAR(200) = NULL,
    @Telefono VARCHAR(50) = NULL
AS
BEGIN
    INSERT INTO Proveedores (Nombre, Email, Telefono, Activo)
    VALUES (@Nombre, @Email, @Telefono, 1)
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaUsuario] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_AltaUsuario]
    @Nombre VARCHAR(100),
    @Password VARCHAR(255),
    @Rol INT,
    @Email VARCHAR(200)
AS
BEGIN
    INSERT INTO Usuarios (Nombre, Password, Rol, Activo, Email)
    VALUES (@Nombre, @Password, @Rol, 1, @Email)
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaVenta] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaVenta] 
    @IdCliente INT,
    @IdUsuario INT,
    @Total DECIMAL(18,2),
    @MedioPago VARCHAR(20) = NULL,
    @Banco VARCHAR(100) = NULL,
    @UltimosDigitos VARCHAR(4) = NULL,
    @Cuotas INT = 1,
    @Interes DECIMAL(18,2) = 0,
    @TotalConInteres DECIMAL(18,2) = NULL
AS
BEGIN
    INSERT INTO Ventas 
    (IdCliente, IdUsuario, FechaVenta, Total, MedioPago, Banco, UltimosDigitos, Cuotas, Interes, TotalConInteres)
    VALUES 
    (@IdCliente, @IdUsuario, GETDATE(), @Total, @MedioPago, @Banco, @UltimosDigitos, @Cuotas, @Interes, @TotalConInteres);

    DECLARE @IdVenta INT = SCOPE_IDENTITY();
    DECLARE @NumeroFactura VARCHAR(20) = 'FAC-' + CAST(YEAR(GETDATE()) AS VARCHAR(4)) + '-' + RIGHT('000000' + CAST(@IdVenta AS VARCHAR(6)), 6);

    UPDATE Ventas SET NumeroFactura = @NumeroFactura WHERE Id = @IdVenta;

    SELECT @IdVenta AS Id, @NumeroFactura AS NumeroFactura;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_BajaCategoria] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaCategoria]
    @Id INT
AS
BEGIN
    UPDATE Categorias
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_BajaCliente] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaCliente]
    @Id INT
AS
BEGIN
    UPDATE Clientes
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_BajaMarca] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaMarca]
    @Id INT
AS
BEGIN
    UPDATE Marcas
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_BajaProducto] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaProducto]
    @Id INT
AS
BEGIN
    UPDATE Productos
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_BajaProveedor] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaProveedor]
    @Id INT
AS
BEGIN
    UPDATE Proveedores
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_BajaUsuario] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BajaUsuario]
    @Id INT
AS
BEGIN
    UPDATE Usuarios
    SET Activo = 0
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarCategorias] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarCategorias]
AS
BEGIN
    SELECT Id, Nombre, Activo
    FROM Categorias
    WHERE Activo = 1
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarCategoriasInactivas] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarCategoriasInactivas]
AS
BEGIN
    SELECT Id, Nombre, Activo
    FROM Categorias
    WHERE Activo = 0
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarClientes] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Clientes:

CREATE PROCEDURE [dbo].[sp_ListarClientes]
AS
BEGIN
    SELECT Id, Nombre, Apellido, Dni, Email, Telefono, Direccion, Activo
    FROM Clientes
    WHERE Activo = 1
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarClientesInactivos] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarClientesInactivos]
AS
BEGIN
    SELECT Id, Nombre, Apellido, Dni, Email, Telefono, Direccion, Activo
    FROM Clientes
    WHERE Activo = 0
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarCompras] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarCompras]
AS
BEGIN
    SELECT
        c.Id,
        c.FechaCompra,
        c.Total,
        p.Id AS IdProveedor,
        p.Nombre AS Proveedor
    FROM Compras c
    INNER JOIN Proveedores p
        ON c.IdProveedor = p.Id
    ORDER BY c.FechaCompra DESC
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarDetalleCompras] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    CREATE PROCEDURE [dbo].[sp_ListarDetalleCompras]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        dc.Id,
        dc.IdCompra,
        dc.IdProducto,
        p.NombreProducto,
        dc.Cantidad,
        dc.PrecioUnitario,
        dc.Subtotal
    FROM DetalleCompras dc
    INNER JOIN Productos p
        ON dc.IdProducto = p.Id
    ORDER BY dc.Id DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarMarcas] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarMarcas]
AS
BEGIN
    SELECT Id, Nombre, Activo
    FROM Marcas
    WHERE Activo = 1
END


GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarMarcasInactivas] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarMarcasInactivas]
AS
BEGIN
    SELECT Id, Nombre, Activo
    FROM Marcas
    WHERE Activo = 0
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarProductos] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarProductos]
AS
BEGIN
    SELECT p.Id, p.NombreProducto, p.Descripcion, p.ImagenUrl,
           p.PrecioCosto, p.PorcentajeGanancia, p.PrecioVenta,
           p.StockActual, p.StockMinimo, p.Activo,
           m.Id AS IdMarca, m.Nombre AS NombreMarca,
           c.Id AS IdCategoria, c.Nombre AS NombreCategoria
    FROM Productos p
    INNER JOIN Marcas m ON p.IdMarca = m.Id
    INNER JOIN Categorias c ON p.IdCategoria = c.Id
    WHERE p.Activo = 1
END
    
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarProductosInactivos] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarProductosInactivos]
AS
BEGIN
    SELECT p.Id, p.NombreProducto, p.Descripcion, p.ImagenUrl,
           p.PrecioCosto, p.PorcentajeGanancia, p.PrecioVenta,
           p.StockActual, p.StockMinimo, p.Activo,
           m.Id AS IdMarca, m.Nombre AS NombreMarca,
           c.Id AS IdCategoria, c.Nombre AS NombreCategoria
    FROM Productos p
    INNER JOIN Marcas m ON p.IdMarca = m.Id
    INNER JOIN Categorias c ON p.IdCategoria = c.Id
    WHERE p.Activo = 0
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarProveedores] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Proveedores: 

CREATE PROCEDURE [dbo].[sp_ListarProveedores]
AS
BEGIN
    SELECT Id, Nombre, Email, Telefono, Activo
    FROM Proveedores
    WHERE Activo = 1
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarProveedoresInactivos] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarProveedoresInactivos]
AS
BEGIN
    SELECT Id, Nombre, Email, Telefono, Activo
    FROM Proveedores
    WHERE Activo = 0
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarUsuarios] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_ListarUsuarios]
AS
BEGIN
    SELECT Id, Nombre, Password, Rol, Activo, Email
    FROM Usuarios
    WHERE Activo = 1
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarUsuariosInactivos] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarUsuariosInactivos]
AS
BEGIN
    SELECT Id, Nombre, Password, Rol, Activo, Email
    FROM Usuarios
    WHERE Activo = 0
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarVentas] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarVentas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        v.Id,
        v.NumeroFactura,
        v.FechaVenta,
        v.Total,
        c.Nombre + ' ' + c.Apellido AS NombreCliente,
        u.Nombre AS NombreVendedor
    FROM Ventas v
    INNER JOIN Clientes c ON v.IdCliente = c.Id
    INNER JOIN Usuarios u ON v.IdUsuario = u.Id
    ORDER BY v.FechaVenta DESC
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarCategoria] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarCategoria]
    @Id INT,
    @Nombre VARCHAR(100)
AS
BEGIN
    UPDATE Categorias
    SET Nombre = @Nombre
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarCliente] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarCliente]
    @Id INT,
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Dni INT,
    @Email VARCHAR(200) = NULL,
    @Telefono VARCHAR(50) = NULL,
    @Direccion VARCHAR(200) = NULL
AS
BEGIN
    UPDATE Clientes
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        Dni = @Dni,
        Email = @Email,
        Telefono = @Telefono,
        Direccion = @Direccion
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarMarca] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarMarca]
    @Id INT,
    @Nombre VARCHAR(100)
AS
BEGIN
    UPDATE Marcas
    SET Nombre = @Nombre
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarProducto] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarProducto]
    @Id INT,
    @Nombre VARCHAR(150),
    @Descripcion VARCHAR(500) = NULL,
    @ImagenUrl VARCHAR(500) = NULL,
    @IdMarca INT,
    @IdCategoria INT,
    @PrecioCosto DECIMAL(18,2),
    @PorcentajeGanancia DECIMAL(10,2),
    @StockMinimo INT
AS
BEGIN
    DECLARE @PrecioVenta DECIMAL(18,2)
    SET @PrecioVenta = @PrecioCosto * (1 + @PorcentajeGanancia / 100)

    UPDATE Productos
    SET NombreProducto = @Nombre,
        Descripcion = @Descripcion,
        ImagenUrl = @ImagenUrl,
        IdMarca = @IdMarca,
        IdCategoria = @IdCategoria,
        PrecioCosto = @PrecioCosto,
        PorcentajeGanancia = @PorcentajeGanancia,
        PrecioVenta = @PrecioVenta,
        StockMinimo = @StockMinimo
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarProveedor] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarProveedor]
    @Id INT,
    @Nombre VARCHAR(150),
    @Email VARCHAR(200) = NULL,
    @Telefono VARCHAR(50) = NULL
AS
BEGIN
    UPDATE Proveedores
    SET Nombre = @Nombre,
        Email = @Email,
        Telefono = @Telefono
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarUsuario] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarUsuario]
    @Id INT,
    @Nombre VARCHAR(100),
    @Password VARCHAR(255),
    @Rol INT,
    @Email VARCHAR(200)
AS
BEGIN
    UPDATE Usuarios
    SET Nombre = @Nombre,
        Password = @Password,
        Rol = @Rol,
        Email = @Email
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerCompraPorId] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerCompraPorId]
    @IdCompra INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.Id,
        c.FechaCompra,
        c.Total,
        p.Id AS IdProveedor,
        p.Nombre AS NombreProveedor
    FROM Compras c
    INNER JOIN Proveedores p ON c.IdProveedor = p.Id
    WHERE c.Id = @IdCompra;

    SELECT
        dc.Id,
        dc.IdProducto,
        pr.NombreProducto,
        dc.Cantidad,
        dc.PrecioUnitario,
        dc.Subtotal
    FROM DetalleCompras dc
    INNER JOIN Productos pr ON dc.IdProducto = pr.Id
    WHERE dc.IdCompra = @IdCompra;
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerVentaPorId] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerVentaPorId]
    @IdVenta INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        v.Id,
        v.NumeroFactura,
        v.FechaVenta,
        v.Total,
        v.TotalConInteres, 
        v.MedioPago,
        v.Banco,              
        v.UltimosDigitos,    
        v.Cuotas,
        v.Interes,
        c.Id AS IdCliente,
        c.Nombre AS NombreCliente,
        c.Apellido AS ApellidoCliente,
        c.Email AS EmailCliente,
        u.Id AS IdUsuario,
        u.Nombre AS NombreUsuario
    FROM Ventas v
    INNER JOIN Clientes c ON v.IdCliente = c.Id
    INNER JOIN Usuarios u ON v.IdUsuario = u.Id
    WHERE v.Id = @IdVenta;

    SELECT
        dv.Id,
        dv.IdProducto,
        p.NombreProducto,
        dv.Cantidad,
        dv.PrecioUnitario,
        dv.Subtotal
    FROM DetalleVentas dv
    INNER JOIN Productos p ON dv.IdProducto = p.Id
    WHERE dv.IdVenta = @IdVenta;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReactivarCategoria] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReactivarCategoria]
    @Id INT
AS
BEGIN
    UPDATE Categorias
    SET Activo = 1
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReactivarCliente] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReactivarCliente]
    @Id INT
AS
BEGIN
    UPDATE Clientes
    SET Activo = 1
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReactivarMarca] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReactivarMarca]
    @Id INT
AS
BEGIN
    UPDATE Marcas
    SET Activo = 1
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReactivarProducto] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReactivarProducto]
    @Id INT
AS
BEGIN
    UPDATE Productos
    SET Activo = 1
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReactivarProveedor] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReactivarProveedor]
    @Id INT
AS
BEGIN
    UPDATE Proveedores
    SET Activo = 1
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReactivarUsuario] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ReactivarUsuario]
    @Id INT
AS
BEGIN
    UPDATE Usuarios
    SET Activo = 1
    WHERE Id = @Id
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReporteClientes] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteClientes]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        c.Id,
        c.Nombre + ' ' + c.Apellido AS NombreCliente,
        COUNT(v.Id)   AS CantidadCompras,
        SUM(v.Total)  AS MontoTotal
    FROM Ventas v
    INNER JOIN Clientes c ON v.IdCliente = c.Id
    GROUP BY c.Id, c.Nombre, c.Apellido
    ORDER BY MontoTotal DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReporteProductosMasVendidos] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteProductosMasVendidos]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.Id,
        p.NombreProducto,
        SUM(dv.Cantidad)  AS CantidadVendida,
        SUM(dv.Subtotal)  AS MontoTotal
    FROM DetalleVentas dv
    INNER JOIN Productos p ON dv.IdProducto = p.Id
    GROUP BY p.Id, p.NombreProducto
    ORDER BY CantidadVendida DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReporteStockBajo] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ReporteStockBajo]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.Id,
        p.NombreProducto,
        p.StockActual,
        p.StockMinimo,
        m.Nombre AS NombreMarca
    FROM Productos p
    INNER JOIN Marcas m ON p.IdMarca = m.Id
    WHERE p.Activo = 1 AND p.StockActual <= p.StockMinimo
    ORDER BY p.StockActual ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReporteVendedores] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteVendedores]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        u.Id,
        u.Nombre AS NombreVendedor,
        COUNT(v.Id)      AS CantidadVentas,
        SUM(v.Total)     AS MontoTotal
    FROM Ventas v
    INNER JOIN Usuarios u ON v.IdUsuario = u.Id
    GROUP BY u.Id, u.Nombre
    ORDER BY MontoTotal DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ValidarLogin] Fecha de script: 17/7/2026 20:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ValidarLogin]
    @Nombre VARCHAR(100),
    @Password VARCHAR(255)
AS
BEGIN
    SELECT Id, Nombre, Rol
    FROM Usuarios
    WHERE Nombre = @Nombre AND Password = @Password AND Activo = 1
END
GO
